@page "/tours/{Id:int}"
@using System.Text.Json
@using System.Text
@using System.Net.Http.Headers

@inject NavigationManager NavigationManager

@inject HttpClient Http

<div class="page">
    <AuthorizeView>
        <Authorized Context="Auth">
            @if (tour == null)
            {
                <p>Wczytywanie...</p>
            }
            else
            {
                <div class="leftSection">
                    <h4>Dane przewodnika</h4>
                    <br/>
                    @if (tour.ProfilePicture != "")
                            {
                                <div>
                                    <img src="@tour.ProfilePicture" style="display: block; max-width: 250px; height: auto;"/>
                                </div>
                              

                            }
                    <div class="userDetails"><i class="far fa-user-circle fa-2x"></i><h6>@tour.UserName @tour.Surname</h6></div>
                    <div class="userDetails"><i class="far fa-envelope-open fa-2x"></i><h6>@tour.Email</h6></div>
                    <div class="userDetails"><i class="fas fa-phone fa-2x"></i><h6>@tour.PhoneNumber</h6></div>
                    <hr/>
                    <div class="tripInfo">
                        <h4>Informacje</h4>
                        <div class="tripDetails"><i class="fas fa-map-marked-alt fa-2x"></i><p>Miejsce spotkania: </p></div><p>   @tour.MeetingPlace</p>
                        <div class="tripDetails"><i class="fas fa-map-marked fa-2x"></i><p>Koniec wycieczki: </p></div><p>   @tour.EndPlace</p>
                        <div class="tripDetails"><i class="fas fa-clock fa-2x"></i><p>Czas trwania: </p></div><p>   @tour.Length</p>
                        <div class="tripDetails"><i class="far fa-calendar alt fa-2x"></i><p>Terminy:</p></div>

                        @foreach (var item in @tour.TourDates)
                        {
                            <p>@item.TourDate</p> 
                            <p>w cenie: @item.Price</p>
                        }
                    </div>
                </div>
                <div class="rightSection">
                    <h2>@tour.TourName</h2>
                    <h5>@tour.Description</h5>
                    <hr />
                    @if (tour.MainPhoto != "")
                    {
                        <div>
                            <img src="@tour.MainPhoto" style="display: block; max-width: 600px; height: auto;" />
                        </div>
                    }
                    <hr />
                    @if(tour.MapPhoto != "")
                    {
                        <div>
                            <img src="@tour.MapPhoto" style="display: block; max-width: 600px; height: auto;" />
                        </div>
                    }
                    <hr/>
                    <h6>Dodatkowe zdjęcia:</h6>
                    @foreach(var item in @tour.TourPhotos)
                    {
                        @if(item.TourPhoto != "")
                            {
                                <div>
                                    <img src="@item.TourPhoto" style="display: block; max-width: 350px; height: auto;" />
                                </div>
                            }
                    }
                </div>
            }
        </Authorized>
        <NotAuthorized>
            <p>Nie można wyświetlić strony niezalogowanym użytkownikom</p>
        </NotAuthorized>
    </AuthorizeView>
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    private TourVm tour;


    protected override async Task OnInitializedAsync()
    {
        tour = await Http.GetFromJsonAsync<TourVm>($"api/tours/{Id}");
    }
}

<style>

    .page {
        margin: 50px;
    }
    .leftSection {
        width: 360px;
        float: left;
        background-color: lightgrey;
        height: 840px;
        padding: 20px;
    }

    .leftSection h4{
        color: dimgrey;
    }

    .userDetails h6, .userDetails i {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }
    
    .rightSection {
        margin-left: 370px;
    }

    .rightSection h5 {
        color:darkgrey;
    }
    .tripInfo h4{
        /*color: darkgrey;*/
        color: dimgrey;
    }
    .tripInfo p{
        color: black;
        font-size: 18px;
        line-height:0.7;
    }

    .tripDetails p, .tripDetails i {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }
    
</style>

